
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700&family=Poppins:wght@200;300&display=swap');


*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f0f2f5;
    --second-color: rgb(82, 100, 198);
    --color-paragraph: rgb(112, 110, 110);;
}

#htmlContent{
    width: 800px; 
    display: block; 
    margin-top: 3rem;
    margin: 0 auto; 
    background-color: #fff;
}

.select-name{
    width: 100%;
    background: var(--primary-color);
    height: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-box-shadow: 4px 9px 22px -4px rgba(0,0,0,0.67);
    -moz-box-shadow: 4px 9px 22px -4px rgba(0,0,0,0.67);
    box-shadow: 4px 9px 22px -4px rgba(0,0,0,0.67);
    
}

.select-name .itens {
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

button, select, input{
    padding: 15px;
    background: var(--second-color);
    border: 1px solid var(--second-color);
    color: #fff;
}

button:hover, select:hover, input:hover {
    background: rgb(49, 59, 117);
    transition: all 1s;
}

button#dl-png{
    background: rgb(60,159,64);
    border: 1px solid rgb(60,159,64);
}

button#dl-png:hover {
    background: rgb(50, 116, 52);
    transition: all 1s;
}

::placeholder{
    color: #fff;
}

#img-header {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 1;
}

h1{
    color: rgb(0,79,159);
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
}

#btn{
align-items: center;
justify-content: center;
text-align: center;

}
